* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container .img img {
    width: 500px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.container .main-form {
    width: 70%;
    padding: 5% 10%;
    background-color: #fff;
}

.container .main-form form {
    background-color: #fff;
    box-shadow: 2px -2px 5px gray;
    width: 400px;
    height: 500px;
    border-radius: 6px;
    padding: 20px 35px;
}

.container .main-form form .header {
    height: 30%;
}

.container .main-form form .header .title {
    margin-top: 10px;
}

.container .main-form form .header .title p {
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(179, 179, 179);
}

.container .main-form form .header .title span {
    font-size: 30px;
    color: #222;
    font-weight: bold;
    font-family: sans-serif;
}

.container .main-form form .content {
    height: 50%;
}

.container .main-form form .content .input-box .space .forgot-pass {
    color: gray;
    font-size: 14px;
}

.container .main-form form .content .input-box .space {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.container .main-form form .content .input-box {
    margin-bottom: 30px;
}


.container .main-form form .content .input-box input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #FDF6F4;
    border-radius: 6px;
    height: 40px;
}

.container .main-form form .content .input-box input {
    padding-left: 15px;
}

.container .main-form form .footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .main-form form .footer .link-signin a{
    display: flex;
    justify-content: space-between;
    width: 130px;
    background-color: #EA7357;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px 20px;
    border-radius: 30px;
}

.container .main-form form .footer .link-signin{
    margin-bottom: 20px;
}

.container .main-form form .footer .sign-up a span{
    color: grey;
}

.container .main-form form .footer .sign-up a {
    text-decoration: none;
    display: flex;
}
.container .main-form form .footer .sign-up a p{
    color: #EA7357;
    margin-left: 5px;
}






.container .main-form form .header a {
    color: tomato;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.container .img {
    width: 30%;
    background-color: rgb(235, 169, 88);
}