<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Page</title>
    <!-- CSS Link -->
    <link rel="stylesheet" href="../css/create_acc.css">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="../Font Awsome/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="photo">
            <img src="../img/90.png" >
        </div>
        <div class="photo2">
            <img src="../img/95.png" >
        </div>
        <div class="modal_create_accc">
            <div class="modal_header">
                <p>Create Account</p>
            </div>
            <div class="modal_content">
                <div class="name">
                    <input type="text" placeholder="Name">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="email">
                    <input type="text" placeholder="Email">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="password">
                    <input type="password" placeholder="Password">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
            <div class="modal_footer">
                <div class="btn">
                <div class="btn_box sign_up">
                    <a href="#">SIGN UP</a>
                </div>
                <div class="btn_box sign_in">
                    <a href="#">SIGN IN</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>