<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="../css/sign-in-form.css">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="../Font Awsome/css/all.css">
</head>
<body>
    <div class="container">
        <section class="main-form">
            <form action="" method="post" class="sign-in-form">
                <!-- Header -->
                <div class="header">
                    <a href="#">VOLGA</a>
                    <div class="title">
                        <p>Welcome Back!!!</p>
                        <span>Sign In</span>
                    </div>
                </div>
                <!-- End of Header -->
                <!-- Content -->
                <div class="content">
                    <div class="input-box">
                        <div class="space">
                        <label for="email" class="label">Email</label>
                        </div>
                        <input type="email" required placeholder="Enter Your Email">
                    </div>
                    <div class="input-box">
                        <div class="space">
                        <label for="password" class="label">Password</label> 
                        <label for="forgot_pass" class="forgot-pass">Forgot Password?</label>
                        </div>
                        <input type="password" required placeholder="Enter Your Password">
                    </div>
               </div>
                <!-- End of Content -->
                <!-- Footer -->
                <div class="footer">
                    <div class="link-signin"><a href="#"> <p>SIGN IN</p> <i class="fa-solid fa-arrow-right-long"></i></a>
                    </div>
                    <div class="sign-up">
                        <a href="#"><span>i don't have an account?</span><p>Sign up</p></a>
                    </div>
                </div>
                <!-- End of Footer -->
            </form>
        </section>
        <!-- Section Img -->
        <section class="img">
            <img src="../img/91.png">
        </section>
        <!-- End of Section Img -->
    </div>
</body>
</html>